<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql:///hibernate_v1</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">950317</property>
		
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- <mapping class="deity.domain.associationM.d_component.Student"/> -->
		<!-- <mapping class="deity.domain.associationM.e_tree.Org"/> -->
		<mapping class="deity.domain.associationM.f_student.Course"/>
		<mapping class="deity.domain.associationM.f_student.Score"/>
		<mapping class="deity.domain.associationM.f_student.Student"/>
		
	</session-factory>
</hibernate-configuration>